body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {

	padding-left:0px;
	padding-right: 0px;
	overflow: hidden;
}

.bg-1 {

	
	background-image: url(../images/classroom.jpg);
	background-size: cover;
	height:400px;

}

.contain{

			width: auto;
			height:75%;
			padding-left: 20px;
			padding-right: 20px;

		}

.homeform {
	margin-top: 20px;
	float: right;
	
}

.signform {

	margin-top: 20px;
	width:75%;

}

.firstrow {

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.footerrow {

}

ul.b {

	list-style-type: square;
}

ul.foot{
	list-style-type: none;
	
}

.textbox {

	border: 1px solid blue;
	background-color: #DBF1FC;
}

.trial-button {

	float: right;
	background-color: teal;
	color: white;
}

.qcol {

	padding-top: 10px;
	padding-bottom: 15px;
}

.secondrow {

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.minibox {

	border: 1px solid blue;
	background-color: #DBF1FC;
	padding-top: 10px;
	text-align: center;
	text-anchor: center;
	width: auto;
	height: 75px;
}



.linkbox {
	border: 1px solid black;
	background-color: snow;
	width:25%;
	margin-top: 25px;
	margin-left: 38%;
	text-align: center;
	word-wrap: break-word;
	
}

a.footlink {

	color:white;
}

.mainfoot {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	background-color: #595959;

}

.foot-li {
	margin-bottom: 5px;
}

.test-form-container {
	padding-left: 25%;
    padding-right: 25%;
}

#test-form {

	margin-top: 20px;
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:red;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}




@media screen and (max-width: 900px){

	.bg-1 {
		height:200px;
	}
	.sm-right {
		padding-top: 10px;
	}

	.mini-col {
		padding-bottom: 10px;
	}
	.minibox {
		width: 100%;
	}

}

@media (min-width: 768px) {

.col-sm-4 {
    width: 24.333333%;
	}
}